- content_for(:title, 'SPARQL Query Console')
/
  = "Copyright (c) 2012-#{Time.current.year} Epimorphics Ltd. Released under Apache License 2.0 http://www.apache.org/licenses/"

%h1.heading-large SPARQL Query Editor

%form.qonsole.form-inline{:role => "form", action: qonsole_rails.query_path}
  .col-md-12.well
    %h2.qonsole-h2 Example queries
    %ul.list-inline.examples
      = render_examples( @qconfig )

  .col-md-12.well.vertical
    %h2.qonsole-h2 Prefixes
    %ul.list-inline.prefixes
      = render_prefixes( @qconfig )
      / %li.keep
      /   %button{type: :submit, title: "Add a SPARQL prefix", name: "add-prefix"}
      /     %i.fa.fa-plus

  %p#query-editor-desc{tabindex:"0"}
    Multi-line SPARQL query editor: enter or paste your query below.
    %span.visuallyhidden
      Press <kbd>Escape</kbd> key to exit the editor area, or <kbd>Shift</kbd> key plus the <kbd>Tab</kbd> key to go back.
    %a.skip-to-endpoint.focus-visible{:href => "#endpointSelector", role: "button"}
      Skip SPARQL editor (go to endpoint selection)

  .col-md-12.well
    .query-edit
      #query-edit-cm{ "aria-describedby" => "query-editor-desc"}

    .query-chrome
      .query-container
        .query-item.select
          .dropdown
            %button.btn.btn-dropdown.dropdown-toggle{"data-bs-toggle" => "dropdown", :id => "endpointSelector", type: "button", "aria-expanded" => "false"}
              Select endpoint
              %span#dropdownMenu1.visuallyhidden
                , currently
                = @qconfig.default_endpoint
            %ul.dropdown-menu.endpoints{"aria-labelledby" => "dropdownMenu1", :role => "menu"}
              = render_endpoints( @qconfig )

        .query-item.endpoint
          %label.label-endpoint{:for => "sparqlEndpoint"}
            SPARQL endpoint
          %input#sparqlEndpoint.form-control{:type => "url", style: "width: 100%", value: @qconfig.default_endpoint, autocomplete: "off", "aria-describedby" => "endpointHelp"}
          %p#endpointHelp
            Enter the full URL of the SPARQL endpoint you want to query.

        .query-item.results
          %label.label-results{:for => "sparqlFormat"}
            Results
            %span#dropdownMenu2.visuallyhidden
              , currently displayed as
              = "table"
            %br
          .dropdown
            %button#sparqlFormat.btn.btn-dropdown.dropdown-toggle{"data-bs-toggle" => "dropdown", "data-value" => "tsv", type: "button", "aria-expanded" => "false"}
              %span table
            %ul.dropdown-menu.formats{"aria-labelledby" => "dropdownMenu2", :role => "menu"}
              %li{:role => "presentation"}
                %a{:data => {"value" => "tsv"}, :role => "menuitem", :tabindex => "-1", :title => "display results as tab-separated values", type: "button"}
                  table
              %li{:role => "presentation"}
                %a{:data => {"value" =>  "text"}, :role => "menuitem", :tabindex => "-1", :title => "display results as SPARQL text", type: "button"}
                  plain text
              %li{:role => "presentation"}
                %a{:data => {"value" =>  "json"}, :role => "menuitem", :tabindex => "-1", :title => "display results as SPARQL JSON", type: "button"}
                  JSON
              %li{:role => "presentation"}
                %a{:data => {"value" =>  "xml"}, :role => "menuitem", :tabindex => "-1", :title => "display results as SPARQL XML", type: "button"}
                  XML

      .row
        .form-group.col-md-12.text-md-end.ml-auto
          %input.btn.btn-success.run-query{type: :submit, value: "perform query"}

  #results-block.row.sparql.sparql-results
    .col-md-12
      .well
        .row
          .col-md-12
            %span.loadingSpinner.hidden
              %img{:alt => "waiting for server action to complete", :src => "#{asset_path "qonsole_rails/wait30.gif"}"}/
            %span.timeTaken.hidden
        .row
          #results.col-md-12
            %h2.qonsole-h2.col-md-12 Query results

/ modal dialogue
#prefixEditor.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
        %h3.modal-title Add a SPARQL prefix
      .modal-body
        %form.form-horizontal{:role => "form"}
          .form-group
            %label.col-lg-2.control-label{:for => "inputPrefix"} Prefix
            .col-lg-10
              %input#inputPrefix.form-control{:autofocus => "", :placeholder => "Prefix", :type => "text"}/
          .form-group
            .col-lg-offset-2.col-lg-10
              %button#lookupPrefix.btn.btn-sm.btn-primary
                Lookup
                %span
                on prefix.cc
          .form-group
            %label.col-lg-2.control-label{:for => "inputURI"} URI
            .col-lg-10
              %input#inputURI.form-control{:placeholder => "URI", :type => "text"}/
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} cancel
        %button#addPrefix.btn.btn-primary{"data-dismiss" => "modal", :type => "button"} add prefix

:javascript
  $( function() {
    modulejs.require( "qonsole" ).init()
  } );
